<content>
  <Row>
    <Col span="24"/>这下面的就是小河了,子组件
  </Row>
  <Row>
    <Col span="12">
    <button @click="askForWater(1)">求开闸</button>
    <button @click="askForWater(2)">求关闸</button>
    </Col>
  </Row>
    <Row  :gutter="10">
      <Col span="6">
        <div>
          <label>小河水的流量：</label>
          <span v-text="disCharge"></span>
          子组件：<input type="text" v-model="disCharge">
        </div>
      </Col>
      <Col span="6">
      <div>
        <label>小河的宽度：</label>
        <span v-text="riverWidth"></span>
      </div>
      </Col>
      <Col span="6">
      <div>
        <label>小河的长度：</label>
        <span v-text="riverLength"></span>
      </div>
      </Col>
    </Row>
  <slot name="button"></slot>
  <div>
    <p>这里进行slot作为作用域的测试</p>
    <slot name="slotScopeTest" v-for="student in students" :text2="student.name" >
    </slot>
    <p>这里是给自定义组件预留出来自定义渲染的地方，可根据父组件的模板进行渲染，子组件预留solt,父组件调用对应的solt模板就成 </p>
    <slot name="slotScopeSelf" v-for ="teacher in teachers" :teacher="teacher.name"  :age="teacher.age">
    </slot>
  </div>

</content>
