body {
  width: 300px;
  height: 400px;
}

.box1 {
  position: relative;
  width: 200px;
  padding-bottom: 50%;
  background: red;
}

.box2 {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  background: green;
}
</style>

<div class='box1'>
<div class='box2'></div>
</div>
