<content>
  <Row>
    <Col span="24">这下面的就是小河了，子组件</Col>
  </Row>
  <Row>
    <Col span="12">
    <button @click="askForWater(1)">求开闸</button>
    <button @click="askForWater(2)">求关闸</button>
    </Col>
  </Row>
    <Row  :gutter="10">
      <Col span="6">
        <div>
          <label>小河水的流量：</label>
          <span v-text="disCharge"></span>
        </div>
      </Col>
      <Col span="6">
      <div>
        <label>小河的宽度：</label>
        <span v-text="riverWidth"></span>
      </div>
      </Col>
      <Col span="6">
      <div>
        <label>小河的长度：</label>
        <span v-text="riverLength"></span>
      </div>
      </Col>
    </Row>
</content>
